body {
    margin: 0;
    padding: 0;
    background-color: #0a0140;
    text-align: center;

}

h1 {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 130%;
}

.navegacao {
    padding: 35px;
    background-color: #04BF8A;
    display: flex;
    justify-content: space-around;
    font-family: 'Bebas Neue';
}

.navegacao a {
    text-decoration-line: none;
    color: white;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin: 50px 50px 50px 50px;
    font-size: 150%;
    color: white;
}

.foto_perfil {
    width: 15%;
    border-radius: 100%;
}

.apresentacao_fundo {
    background-color: #04BF8A;
    display: flex;
    padding: 3rem;

}

.apresentacao {
    margin: 3% 30% 3% 30%;
    justify-content: center;
    text-align: justify;
    font-size: 120%;
    color: white;

}

.sobre {
    justify-content: center;
    text-align: justify;
    margin: 5% 31.5% 5% 31.5%;
    font-size: 120%;
    color: white;
}

.primeiro_emprego-fundo {
    background-color: #04BF8A;
    display: flex;
    padding: 3rem;
}

.primeiro_emprego {
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 3% 30% 0% 30%;
    font-size: 120%;
    color: white;
}

.voltar-fundo {
    background-color: #04BF8A;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.voltar {
    background-color: #0a0140;
    padding: 0.3%;
    margin: 0% 30% 0% 30%;
    border-radius: 10rem;
}

.voltar a {
    text-decoration-line: none;
    color: white;
}

.footer {
    background-color: #0E3D59;
    display: flex;
    justify-content: space-around;
    color: white;
}

.footer img {
    width: 50px;
}

.site :hover {
    width: 53px;
}